@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Protest+Strike&display=swap');

*{
    background-color: #0d1b2a;

}
.container{
    display: flex;
    justify-content: center;
    

}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border : dotted 30px #4cc9f0;
    color: #b5179e;
    margin-top: 200px;
    font-family: "Monoton", sans-serif;
    font-size: 2em;
    font-weight: 400px;
    font-style: normal;
    border-radius: 50% ;
    animation : rotate 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
    }
}